<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'application', :plugin => 'issue_templates' %>
<% end %>
<% content_for :header_tags do %>
    <%= javascript_include_tag 'application', :plugin => 'issue_templates' %>
<% end %>

<h2><%= l(:issue_template_new) %></h2>

<div class="box tabular">
    <div class="all_attributes">
        <%= form_for :template, :url => { :controller => :issue_templates, :action => 'new' } do |f| %>
            <p>
                <label><%= l(:template_title) %></label>
                <%= f.text_field :title, :required => true %>
            </p>
            <p>
                <label><%= l(:global_template_new) %></label>
                <%= f.check_box :global %>
            </p>
            <p>
                <label><%= l(:template_content) %></label>
                <%= f.text_area :content , :required => true, :cols => 60, :rows => 10, :no_label => true %>
            </p>
            <p>
                <%= f.submit l(:template_new_button) %>
                <%= link_to l(:template_back_button), :controller => :issue_templates, :action => 'index' %>
            </p>
        <% end %>
    </div>
</div>
